$1color: #31444E;
$2color: #EBEBEB;
$3color: #CF8897;
$4color: #D4BA39;
$5color: #7D64BD;
$6color: #DE5F77;
$7color: #55B59B;
$8color: #C4964B;
$9color: #04D476;
$A0color: #4E4BA6;
$A1color: #47C1CC;
$A2color: #FF7052;
$A3color: #2D8A63;
$A4color: #A84A97;
$A5color: #3A6FBD;

$textLight: HelveticaNeue-Light, HelveticaNeue-Light, Helvetica Neue Light, HelveticaNeue, Helvetica Neue, TeXGyreHerosRegular, Helvetica, Tahoma, Geneva, Arial, sans-serif; font-weight:300; font-stretch:normal;

