body{
	background-color: #31444E;
}

h1{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    font-size: 50px;
	color: #EBEBEB;
	text-align: center;
}

table{
	border-collapse:collapse;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 100;
    margin:auto;
	width: 101%;
	font-size: 20pt;
	text-align: left;
	color: #EBEBEB;
}

td{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 35px;
	padding-right:20px;
}

#topBit{
	margin-top:10%;
}

#events{
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}


